name: Sync Universal Media to AWS S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Sync Media Folders
        run: |
          # Sincronizamos cada carpeta a su lugar correspondiente en el prefijo /media/
          aws s3 sync ./images s3://colabb-mobility-media/media/images --delete
          aws s3 sync ./docs s3://colabb-mobility-media/media/docs --delete
          aws s3 sync ./videos s3://colabb-mobility-media/media/videos --delete
