name: Sync Media to AWS S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2 # Tu región en Ohio

      - name: Sync to S3
        run: |
          # Sincronizamos TU carpeta específica con la carpeta de destino en el Bucket
          # Esto tomará lo que hay en 'Products_Images' y lo pondrá en 'catalog/products' de S3
          aws s3 sync ./Products_Images s3://colabb-mobility-media/catalog/products --delete
